
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.hw-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8); /* dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.hw-gif {
  width: 80%;
  height: auto;
  display: block;
}
