@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .handwriting-text {
    font-family: 'League Script', cursive;
    font-size: 2.8rem;
    color: #ffced5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  
    /* 애니메이션 */
    opacity: 0;
    animation: fadeIn 2s ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }